// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'font-awesome/css/font-awesome.min.css';

// Custom

//making variable primary
$main: #192655;
$secondary: #3876BF;
$accent : #E1AA74;

// how to use variable


